@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-color: #e6e6e6;
  --bg-color-dark: #636262;
  --shadow-color: #d2d4d3;
  --modal-primary-text: #663399;
  --modal-secondary-text: #5f9ea0;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: auto;
  background-color: var(--bg-color);
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
